html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  padding: 1rem;
}

.container {
  height: 100%;
}

.header {
  grid-column: span 2;
}

.app {
  width: 100%;
}

.code {
  font-size: 1rem;
  height: 50%;
  width: 100%;
}

.main {
  column-gap: 2rem;
  display: flex;
  height: 100%;
}

.sidebar {
  min-width: fit-content;
}
