*,
*::before,
*::after {
  box-sizing: border-box;
  margin: initial;
  padding: initial;

  &:not(:is(h1, h2, h3, h4, h5, h6)) {
    font-size: 1rem;
  }
}

body {
  padding: 1rem;
}

button {
  padding: 0.5rem;
}

fieldset {
  margin: 0.75rem;
  padding: 0.5rem;
}

.active {
  filter: invert(100%);
}

.btn-copy {
  float: right;
  padding: 0.75rem 1.25rem;

  &::after {
    clear: both;
  }
}

.code {
  display: inline-block;
  font-size: 0.875rem;
  overflow: scroll;
  padding: 1rem;
  white-space: pre-wrap;
  width: 100%;
}

.code-wrapper {
  display: inline-flex;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 70%;
}

.desc {
  margin-bottom: 1em;
}

.editor {
  display: flex;
  flex: auto;
  height: 100%;
  width: 100%;
}

.editor-wrapper {
  align-content: stretch;
  display: flex;
  flex: auto;
  flex-direction: column;
  height: 30rem;
  margin-bottom: 4rem;
}

.footer {
  display: flex;
  justify-content: end;
}

.header {
  grid-column: span 2;
  margin-bottom: 4rem;
}

.hide,
.hidden {
  display: none;
}

.icon-github {
  width: 1.875rem;
}

.input-wrapper {
  display: inline-block;
  margin: 0.25rem;
}

.main {
  margin-bottom: 2rem;
}

.nothing {
  font-size: 0.75rem;
}

.tabs,
.tabs-wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 0.5em;
}
