*,
*::before,
*::after {
  box-sizing: border-box;
  margin: initial;
  padding: initial;

  &:not(:is(h1, h2, h3, h4, h5, h6)) {
    font-size: 1rem;
  }
}

body {
  background: rgb(40 41 42);
  color: rgb(255 255 255);
  font-family: system-ui;
  padding: 1rem;
}

button {
  padding: 0.5rem;
}

fieldset {
  margin: 0.75rem;
  padding: 0.5rem;
}

.active {
  filter: invert(100%);
}

.btn-copy {
  border: none;
  border-radius: 1.25rem;
  bottom: 1rem;
  color: rgb(117 117 117);
  padding: 0.375rem 1.75rem;
  position: absolute;
  right: 1rem;

  &:hover {
    background: rgb(117 117 117);
    color: rgb(239 239 239);
  }
}

.code {
  display: block;
  font-size: 0.875rem;
  margin: 1rem;
  overflow: hidden scroll;
  white-space: break-spaces;
  word-break: break-word;
}

.code-wrapper {
  background: rgb(29 31 33);
  display: inline-flex;
  flex: 4;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 70rem;
}

.desc {
  font-size: 1.125rem;
  margin-bottom: 1em;

  .warn {
    color: rgb(180 133 88);
    display: block;
  }
}

.editor {
  display: flex;
  height: 100%;
}

.editor-wrapper {
  border-radius: 0.875rem;
  box-shadow: 0 18px 30px 3px rgb(60 60 60 / 0.75);
  height: 59.375rem;
  margin-bottom: 4rem;
  min-width: 50rem;
  overflow: hidden;
  position: relative;
  width: 50rem;
}

.footer {
  display: flex;
  justify-content: end;
}

.header {
  grid-column: span 2;
  margin: 3rem 0;
  text-align: center;
}

.hide,
.hidden {
  display: none;
}

.icon-github {
  filter: invert(100%);
  width: 1.875rem;
}

.input-wrapper {
  display: inline-block;
  margin: 0.25rem;
}

.main {
  column-gap: 3rem;
  display: flex;
  margin: 3rem 0;
}

.nothing {
  font-size: 0.75rem;
}

.tablink {
  background: transparent;
  border: none;
  color: rgb(150 150 150);
  font-size: 0.875rem;

  &.active {
    background: rgb(29 31 33);
    color: rgb(255 255 255);
    filter: none;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
}

.tabs-wrapper {
  background: rgb(47 49 52);
  border: 1px solid rgb(40 41 42);
  border-right: rgb(29 31 33);
  flex: 1;
  overflow: hidden scroll;
  padding: 1.25rem 0;
}

.title {
  font-weight: normal;
  margin-bottom: 0.75em;
}
